/* Main header font for all pages */
@font-face {
  font-family: righteous;
  src: url(../fonts/Righteous-Regular.ttf);
}

/* Font for numbers, tabularnums optimized */
@font-face {
  font-family: coresans;
  src: url(../fonts/coresans.ttf);
}

/* Pixel font for that pixel art feel */
@font-face {
  font-family: mana;
  src: url(../fonts/mana.ttf);
}

/* A font that simulates handwriting */
@font-face {
  font-family: sig;
  src: url(../fonts/sig.otf);
}

/* Clean font that only has caps (fucking stupid) */
@font-face {
  font-family: moon;
  src: url(../fonts/moon.otf);
}

/* Clean fonts for p tags. The backbone of the website */
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-Thin.ttf);
}

@font-face {
  font-family: hamlin;
  src: url(../fonts/hamlin.ttf);
}

/* Clean fonts for buttons */

@font-face {
  font-family: inter;
  src: url(../fonts/inter.ttf);
}


@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


html{
  background: #313131;
  display:flex;
  flex-direction: row;
  width:100vw;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

html::-webkit-scrollbar { 
  display: none; 
}

html:after {
  height:100vh;
  min-height: -webkit-fill-available;
  overflow: hidden -moz-hidden-unscrollable;
  opacity: .15;
  background: center url("../public/images/galaxy.gif") ;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: -1;
}

body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  z-index: +1;
}

.hidden{
  display: none !important;
}

.none{
  visibility: hidden !important;
}

hr {
  opacity:.2;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0.7) 40%,rgba(255,255,255,.75) 40%,rgba(255,255,255,.8) 50%,rgba(255,255,255,.75) 60%,rgba(255,255,255,0.7) 60%,rgba(255,255,255,0.6) 70%,rgba(255,255,255,0) 100%);
  border: 0px solid #ffffff;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.txWrapper {
  overflow: hidden;
  background-color: #000000c2;
  backdrop-filter: blur(20px);
  z-index: +696969;
  position: fixed;
  top:0;
  height:100vh;
  left: 0;
  width:100vw;
  justify-content: center;
  align-items: center;
}

.txContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  text-align: center;
}

.txContainer h1{
  color:#ffffff;
  font-family: inter;
  font-weight: lighter;
  margin-top: 190px;
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.lds-grid {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
