.wrapper {
    background-color: #212429d3;
    position: fixed;
    padding-top: 20px;
    max-height: 100vh;
    min-height: 100vh;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 99;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    overflow: hidden;
    --animate-duration: 0.5s;
}

.item {
    margin:20px;
    opacity:.8;
    color:#ffffff;
    font-family: kanit;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
}

.item:hover {
    opacity:1;
    cursor: pointer;
}

.active {
    opacity:1;
    font-weight: bold;
}

.active:hover {
    cursor:default;
}