.navbarwrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: +1;
    width:100vw;
    margin:0;
    height: 50px;
    background-color: #0a1f2c6c;
    position: sticky;
    top:0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #41556156;
}

.brand a {
    text-decoration: none;
}

.brand a:hover {
    cursor:pointer;
}

.navbarwrap div{
    width:420px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
}

.navbarwrap h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: righteous;
    letter-spacing: 4px;
    color:#ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
}

.purpbutton{
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #0252FE, #759ff8);
    border-radius: 5px;
    padding:5px 20px;
    font-family: righteous;
    color:#ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.purpbutton:hover{
    background: linear-gradient(to right, #759ff8, #0252FE);
    transform: scale(1.02);
    cursor: pointer;
}

.brand img {
    margin:20px;
}

@media only screen and (max-width: 600px) {
    .navbarwrap h1{
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .navbarwrap h1{
        font-size: 14px;
    }
}